.post-desc__description {
  margin: 0 auto; 
  margin-bottom: -113px;
  transform: translate(0, -50%);
  width: 730px;
  height: 226px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}